:root {
  --black: #000;
  --blue:#39A2AE;
  --violet:#6D597A;
  --grey:#30343F;
}
html{
  font-size: 62.5%;
}
body{
  background-color: var(--violet);
  font-size: 1.6rem;
  margin:0;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #3AAFAB;
  color: #fff;
  padding: 50px 0;
}
form {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
}
.flex-outer {
  margin: 2rem 0;
  padding: 0;
  max-width: 100rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.flex-outer > li:not(:last-child) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;

}
.flex-outer > li:not(:last-child) > label {
  flex: 1 0 12rem;
  display: flex;
  align-items: center;
}
.flex-outer > li:not(:last-child) > input {
  width: 100%;
}
textarea {
  height: 10rem;
  width: 100%;
}
.flex-outer>li:nth-last-child(2){
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}
.flex-outer>li>p{
  width:  13rem;
}
.flex-inner {
  display: flex;
  flex-wrap: wrap;
}
.flex-inner{
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-inner > li{
  display: flex;
  width: 15rem;
  flex-direction: row;
  align-items: center;
}
button {
  padding: 8px 16px;
  background-color: var(--grey);
  color: #fff;
  width: 10rem;
  border-radius: 2px;
  border-style: none;
}
.flex-outer>li:nth-last-child(1){
  display: flex;
  width: 100%;
  justify-content: end;
}
.flex-outer li label p{
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}